@model BSS.Models.BookingArrived

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BookingReceived</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingArrivedEnquiredDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingArrivedEnquiredDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingArrivedEnquiredTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingArrivedEnquiredTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingArrivedEnquiredDetails)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingArrivedEnquiredDetails)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TravelDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TravelDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentDetail.AgentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConsultantId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConsultantDetail.ConsultantName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuotationSendDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuotationSendDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuotationSendTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuotationSendTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourPlanRefrence)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourPlanRefrence)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HotelId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HotelDetail.HotelName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingStatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConfirmationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmationDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
